name: Kafka based Weather Reporter Build
on:
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Ballerina Project Build
        uses: ballerina-platform/ballerina-action@slbeta2
        with:
          args: 
            build

  subscriber-example:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout
        uses: actions/checkout@v2
      - name: Subscriber Examples Build
        uses: ballerina-platform/ballerina-action@slbeta2
        with:
          args: 
            build examples/weather_info_subscriber.bal      
